summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

details[open] summary + * {
  animation: slide 0.3s ease-in-out;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes animating-summary {
  from {
    color: rgb(111, 110, 110);
    fill: rgb(111, 110, 110);
  }
  to {
    color: rgb(241, 109, 127);
    fill: rgb(241, 109, 127);
  }
}
@keyframes animating-links {
  from {
    color: rgb(196, 196, 196);
  }
  to {
    color: rgb(241, 109, 127);
  }
}
body {
  font-family: "Lato";
  font-style: normal;
}

@keyframes animating-buttons {
  from {
    border: 1px solid rgb(241, 109, 127);
    background: rgb(255, 255, 255);
    color: rgb(241, 109, 127);
  }
  to {
    background: rgb(241, 109, 127);
    color: rgb(255, 255, 255);
  }
}
@keyframes animating-contact_links {
  from {
    background: rgb(255, 255, 255);
    fill: rgb(0, 0, 0);
  }
  to {
    background: rgb(241, 109, 127);
    fill: rgb(255, 255, 255);
  }
}
@keyframes animating-links {
  from {
    color: rgb(0, 0, 0);
  }
  to {
    color: rgb(241, 109, 127);
  }
}
@keyframes animating-block {
  from {
    background: rgba(58, 56, 56, 0);
    width: 0%;
    height: 0px;
  }
  to {
    background: rgba(58, 56, 56, 0.86);
    width: 100%;
    height: 420px;
  }
}
.conteiner {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.max_conteiner {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.header-navi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(34, 34, 34);
  min-height: 75px;
}
.header-navi__left {
  display: flex;
  align-items: flex-end;
  gap: 41px;
}
.header-navi__right {
  display: flex;
  gap: 33px;
}
.header-navi button {
  border: none;
  cursor: pointer;
  background: rgb(34, 34, 34);
}
.header-navi__cart {
  position: relative;
}
.header-navi__cart_sales {
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10px;
  right: -10px;
  background: rgb(241, 109, 127);
  width: 19px;
  height: 19px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: rgb(255, 255, 255);
}

.main-content-top {
  display: flex;
  align-items: center;
  background: rgb(241, 228, 230);
  gap: 64px;
  position: relative;
}
.main-content-top__title {
  margin-top: 290px;
  margin-bottom: 381px;
  border-left: 12px solid rgb(241, 109, 127);
  padding-left: 16px;
  color: rgb(34, 34, 34);
}
.main-content-top__title h2 {
  font-weight: 900;
  font-size: 48px;
}
.main-content-top__title h3 {
  font-weight: 700;
  font-size: 32px;
}
.main-content-top__title .red_title {
  color: rgb(241, 109, 127);
}

.burgerMenu {
  position: absolute;
  top: 0;
  right: 0;
  width: 232px;
  height: 634px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  z-index: 5;
}
.burgerMenu__exit {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  border: none;
}
.burgerMenu h3 {
  padding-top: 32px;
  padding-left: 33px;
  padding-bottom: 24px;
}
.burgerMenu__card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.burgerMenu__chapter {
  color: rgb(241, 109, 127);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding-left: 32px;
}
.burgerMenu__chapter_items {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-top: 12px;
}
.burgerMenu__chapter_items a {
  color: rgb(111, 110, 110);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding-left: 53px;
}
.burgerMenu__chapter_items a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.for-sale {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 65px;
  padding-bottom: 96px;
}
.for-sale__card {
  position: relative;
}
.for-sale__card_accesories {
  grid-column: 1/-1;
  position: relative;
}
.for-sale__backGround {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 22, 22, 0.7);
}
.for-sale__backGround h4 {
  font-weight: 400;
  font-size: 16px;
  color: rgb(255, 255, 255);
}
.for-sale__backGround h3 {
  font-weight: 700;
  font-size: 24px;
  color: rgb(241, 109, 127);
}

.products__title {
  font-weight: 400;
  text-align: center;
  padding-bottom: 48px;
}
.products__title h3 {
  font-size: 30px;
  line-height: 36px;
  color: rgb(34, 34, 34);
}
.products__title p {
  font-size: 14px;
  line-height: 17px;
  color: rgb(159, 159, 159);
}

.products__table {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.product-card {
  background: rgb(248, 248, 248);
  position: relative;
}
.product-card__cart {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 420px;
  background: rgba(58, 56, 56, 0.86);
}
.product-card__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  background: none;
  width: 139px;
  height: 43px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}
.product-card__btn img {
  width: 26px;
  height: 24px;
}
.product-card__link {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(0, 0, 0);
}
.product-card__link:hover {
  color: rgb(241, 109, 127);
  animation: animating-links 0.3s;
}
.product-card__text {
  padding: 24px 20px 20px 20px;
}
.product-card__text p {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: rgb(93, 93, 93);
  padding-top: 13px;
  padding-bottom: 18px;
}
.product-card__text h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: rgb(241, 109, 127);
}
.product-card:hover .product-card__cart {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animating-block 0.3s;
}

.browse-all {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 95px;
}
.browse-all_btn {
  padding: 15px 39px;
  border: 1px solid rgb(241, 109, 127);
  background: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: rgb(241, 109, 127);
  cursor: pointer;
}
.browse-all_btn:hover {
  background: rgb(241, 109, 127);
  color: rgb(255, 255, 255);
  animation: animating-buttons 0.3s;
}

.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 104px;
  padding-bottom: 104px;
  background-color: rgb(34, 34, 36);
  color: rgb(251, 251, 251);
}
.feature__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.feature__card img {
  padding-bottom: 25px;
}
.feature__text h4 {
  font-size: 19.96px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 16px;
}
.feature__text p {
  font-size: 13.97px;
  font-weight: 300;
  line-height: 17px;
}

.subscrube {
  position: relative;
}

.subscribe_layer {
  position: absolute;
  background: rgba(244, 244, 244, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.subscribe-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 97px;
  padding-bottom: 126px;
  max-width: 1140px;
}
.subscribe-content__left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 28px;
  color: rgb(34, 34, 36);
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  max-width: 360px;
}
.subscribe-content__right {
  display: flex;
  flex-direction: column;
  color: rgb(34, 34, 36);
  text-align: center;
}
.subscribe-content__right h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 167.2%;
}
.subscribe-content__right h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 167.2%;
  padding-bottom: 32px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}
.subscribe-form_input {
  border: none;
  border-radius: 25px 0 0 25px;
  width: 190px;
  height: 48px;
  background: rgb(225, 225, 225);
  color: rgb(34, 34, 36);
  padding-left: 22px;
  font-size: 14px;
  line-height: 17px;
}
.subscribe-form_btn {
  cursor: pointer;
  border: none;
  border-radius: 0 25px 25px 0;
  width: 100px;
  height: 48px;
  background: rgb(241, 109, 127);
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 23px;
  background: rgb(34, 34, 36);
}
.footer h5 {
  color: rgb(251, 251, 251);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}
.footer_contacts {
  display: flex;
  gap: 8px;
}
.footer_contacts button {
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  background: rgb(255, 255, 255);
}
.footer_contacts button:hover {
  background: rgb(241, 109, 127);
  animation: animating-contact_links 0.3s;
}
.footer_contacts button:hover svg {
  fill: rgb(255, 255, 255);
  animation: animating-contact_links 0.3s;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .conteiner {
    padding-left: calc(50% - 367px);
    padding-right: calc(50% - 367px);
  }
  .header-navi__right {
    gap: 32px;
  }
  .main-content-top {
    max-height: 368px;
    gap: 40px;
  }
  .main-content-top img {
    max-height: 368px;
  }
  .main-content-top__title {
    margin-top: 138px;
    margin-bottom: 152px;
  }
  .main-content-top__title h2 {
    font-size: 44px;
  }
  .main-content-top__title h3 {
    font-size: 24px;
  }
  .for-sale {
    gap: 19px;
    padding-bottom: 155px;
  }
  .products__title {
    padding-bottom: 72px;
  }
  .products__table {
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }
  .product-card__text {
    padding: 25px 17px 20px 17px;
  }
  .browse-all {
    margin-top: 32px;
    margin-bottom: 64px;
  }
  .feature {
    flex-direction: column;
    gap: 48px;
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .feature__card {
    max-width: 360px;
  }
  .feature__card img {
    padding-bottom: 28px;
  }
  .subscrube {
    height: 693px;
  }
  .subscrube img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .subscribe-content {
    align-items: center;
    padding-top: 90px;
    flex-direction: column;
    gap: 80px;
  }
  .subscribe-content__right {
    display: flex;
    flex-direction: column;
    color: rgb(34, 34, 36);
    text-align: center;
  }
  .subscribe-content__right h4 {
    padding-bottom: 27px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .conteiner {
    padding-left: calc(50% - 172px);
    padding-right: calc(50% - 172px);
  }
  .hide {
    display: none;
  }
  .main-content-top {
    justify-content: center;
    max-height: 363px;
    padding-top: 148px;
    padding-bottom: 149px;
  }
  .main-content-top__title {
    padding-left: 15px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .main-content-top__hide {
    display: none;
  }
  .main-content-top h2 {
    font-size: 38px;
  }
  .main-content-top h3 {
    font-size: 20px;
  }
  .for-sale {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .for-sale__card_accesories {
    min-height: 111px;
  }
  .for-sale__card_accesories img {
    height: 111px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .products__title {
    padding-bottom: 64px;
  }
  .products__table {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .product-card__text {
    padding: 25px 22px 20px 22px;
  }
  .browse_all {
    margin-top: 40px;
    margin-bottom: 96px;
  }
  .feature {
    flex-direction: column;
    gap: 46px;
    padding-top: 48px;
    padding-bottom: 81px;
  }
  .feature__card {
    max-width: 348px;
  }
  .feature__card img {
    padding-bottom: 27px;
  }
  .feature__card h4 {
    padding-bottom: 14.65px;
  }
  .subscrube {
    height: 550px;
  }
  .subscrube img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .subscribe-content {
    align-items: center;
    padding-top: 64px;
    flex-direction: column;
    gap: 59px;
  }
  .subscribe-content__left {
    font-size: 18px;
  }
  .subscribe-content__right {
    display: flex;
    flex-direction: column;
    color: rgb(34, 34, 36);
    text-align: center;
  }
  .subscribe-content__right h4 {
    font-size: 14px;
    padding-bottom: 22px;
  }
  .footer {
    flex-direction: column-reverse;
    gap: 40px;
    padding-top: 43px;
    padding-bottom: 9px;
  }
  .footer_contacts {
    gap: 7.29px;
  }
}/*# sourceMappingURL=style.css.map */